<div class="wrapper">
					
	<div class="container">
				
		<div class="col-xs-12">
					
			<center>
				<h1> Shorten you URL </h1>

				<div ng-show="valid && !error" class="col-xs-12 alert alert-success">
				  <strong>Success!</strong> The shortened url is <a href="{{newurl}}" target="_blank">{{ newurl}} </a>
				</div>

				<div ng-show="!valid && error"  class="alert alert-danger">
				  <strong>Invalid!</strong> URL might not be valid. Please input a proper url then try again.
				</div>
				<div class="row">

					<div class="input-group">
					  <input type="text" ng-model="url" class="form-control" placeholder="Shorten URL">
					  <span class="input-group-btn">
						<button class="form-control btn btn-secondary" type="button" ng-bind-html="shortenbtn" ng-disabled='shortbtndisabled' ng-click="shorten()"></button>
					  </span>
					</div>
				</div>
			</center>
			
		</div>
				
	</div>
</div>