<div class="wrapper">
					
	<div class="container">
				
		<div class="col-xs-12 ">
					

				<div class="row topmid">
					<h1><b> URL SHORTENER </b></h1>
					<p> This is a mini project that aims to shorten lengthy or long URLs. Ensure that your url has 'http' or 'https' for it to be considered valid.</p>
				</div>

				<div class="row col-xs-12">

					<div ng-show="valid && !error" class="col-xs-12 alert alert-success">
					  <strong>Success!</strong> The shortened url is <a href="{{newurl}}" target="_blank">{{ newurl}} </a>
					</div>

					<div ng-show="!valid && error"  class="alert alert-danger">
					  <strong>Invalid!</strong> URL might not be valid. Please input a proper url then try again.
					</div>

				</div>

				<div class="row">
					
					<div class="input-group">
					  <input type="text" ng-model="url" class="form-control" placeholder="Shorten URL">
					  <span class="input-group-btn">
						<button class="form-control btn btn-primary" type="button" ng-bind-html="shortenbtn" ng-disabled='shortbtndisabled' ng-click="shorten()"></button>
					  </span>
					</div>
				</div>

			
		</div>
				
	</div>
</div>